#result {
  display: none;
  font-weight: bold;
  max-width: 50%;
  margin-top: 20px;
  font-size: 30pt;
  font-style: italic;
}
#inputForm {
  max-width: 50%;
}
#button {
  margin-top: 20px;
}
#hideResult {
  font-size: 10pt;
  margin-top: 30px;
}
